/** variables **/
/** base html **/
a,
p a code {
  color: #000;
}
a:hover {
  border-bottom: 1px solid #db0305;
  background-color: #f2f2f2;
  color: #000;
}
a.home-link:hover {
  border-bottom: none;
}
a.headerlink {
  color: #db0305;
}
strong {
  color: #db0305;
}
iframe {
  max-width: 100%;
}
form input {
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #000;
  border-radius: 5px;
}
form input[type="submit"] {
  padding: 0.3rem 1rem;
}
/** components custom **/
.navbar {
  border-bottom: 3px solid #000;
}
.vp-sidebar {
  border-bottom: none;
  padding: 0;
}
.vp-sidebar .searchbox {
  padding-left: 0;
}
.vp-sidebar .searchbox .searchformwrapper {
  padding: 0 0 2rem 1.5rem;
}
.vp-sidebar .searchbox .search input[type="text"] {
  margin-right: 3px;
}
.vp-sidebar .toctree-l1.current a {
  border-left: 0.5rem solid #ccc;
}
.vp-sidebar .toctree-l1 a.current {
  border-left-color: #767676;
}
.vp-sidebar .toctree-l1 a,
.vp-sidebar .toctree-l2 a {
  color: #000;
}
.vp-sidebar .toctree-l1 a:hover,
.vp-sidebar .toctree-l2 a:hover {
  color: #000;
  border-bottom: none;
  border-left: 0.5rem solid #db0305;
}
.vp-sidebar .toctree-l1 a.current,
.vp-sidebar .toctree-l2 a.current {
  color: #000;
}
.vp-sidebar .caption {
  padding: 0;
  margin-bottom: 1.5rem;
}
.vp-sidebar .caption-text {
  display: block;
  font-size: 1.15rem;
  color: #000;
  font-weight: normal;
  background-color: #fff;
  padding: 1rem 0 0.5rem 1.5rem;
}
.vp-sidebar .caption-text:before {
  content: "";
  display: inline-block;
  margin-right: 0.7rem;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: 4px;
  background: url("../icon_red.svg") no-repeat;
  background-size: contain;
}
.vp-sidebar .caption-text a {
  color: #000;
}
.vp-sidebar .caption-text a:hover {
  color: #000;
  background-color: #fff;
}
@media (max-width: 959px) {
  .vp-sidebar {
    width: 20rem;
  }
}
